<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484230153484-t9r4rf3ro4er8hrnp5m80b7te494al0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484230153484-t9r4rf3ro4er8hrnp5m80b7te494al0f</string>
	<key>API_KEY</key>
	<string>AIzaSyAEkHwhSCl5g2Zrd52LstcdNrFcy5g0m9E</string>
	<key>GCM_SENDER_ID</key>
	<string>484230153484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sindenTB.sindentbapp</string>
	<key>PROJECT_ID</key>
	<string>sindentb-ddc2d</string>
	<key>STORAGE_BUCKET</key>
	<string>sindentb-ddc2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484230153484:ios:9b0ea742b4827df961f529</string>
</dict>
</plist>